<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Call</title>
    <link rel="stylesheet" href="templates/css.css">
    <link rel="stylesheet" href="templates/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/bootstrap/css/dashboard.css">
    <script src="templates/scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>  tinyMCE.init({
        mode : "textareas",
        plugins : "spellchecker,insertdatetime,preview",

        menubar:false,
        statusbar: false,
        theme_advanced_toolbar_align : "left"
    });
    </script>
    <script type="text/javascript" src="templates/bootstrap/js/ie-emulation-modes-warning.js"></script>

</head>

<body>
<div class="logBox" style="display: table; margin: 0 auto;">
    <h1 class="page-header">Add a cartridge</h1>
    <form action="" method="post">
        <input type="hidden" name="desk" value="{DESK}"/>

        <div style="display: table-row; padding: 15px;">
            <label style="display: table-cell; padding: 5px;" for="cartridgePrinter">Printer: </label>
            <select style="display: table-cell; padding: 5px;" type="text" id="cartridgePrinter" name="cartridgePrinter">
                <option>Please select...</option>
                {PRINTERS}
            </select>
        </div>

        <div style="display: table-row; padding: 15px;">
            <label style="display: table-cell; padding: 5px;" for="cartridgeColor">Colour: </label>

            <select style="display: table-cell; padding: 5px;" name="cartridgeColor" id="cartridgeColor">
                <option value="black">Black</option>
                <option value="cyan">Cyan</option>
                <option value="magenta">Magenta</option>
                <option value="yellow">Yellow</option>
            </select>

        </div>

        <div style="display: table-row; padding: 15px;">
            <label style="display: table-cell; padding: 5px;" for="cartridgeName">Model: </label>
            <input  style="display: table-cell; padding: 5px;" type="text" id="cartridgeName" name="cartridgeName"/>
        </div>


        <div style="display: table-row; padding: 15px;">
            <label style="display: table-cell; padding: 5px;" for="cartridgeStock">Stock: </label>
            <input  style="display: table-cell; padding: 5px;" type="number" id="cartridgeStock" name="cartridgeStock"/>
        </div>

        <div style="display: table-row; margin-top: 2px; padding: 15px;">
            <label style="display: table-cell; padding: 5px;" for="cartridgeCost">Cost: </label>
            <span class="currencyinput">£
                <input  style="display: table-cell; padding: 1px;" type="number" min=0.01 step="any" id="cartridgeCost" name="cartridgeCost"/>
            </span>
        </div>

        <div style="display: table-row">
            <input class="btn btn-lg btn-default" type="submit" name="submit" value="Add"/>
        </div>
        <div id="status">{STATUS}</div>
    </form>
</div>
</body>
</html>