<h1 class="page-header">Cartridges
    <div class="pull-right">
        <a href="#" id="refreshCartridges" class="btn btn-lg"><span class="glyphicon glyphicon-refresh"></span></a>
        <a href="view.php?adminPage=addCartridge&desk={DESK}" id="addCartridgeBtn" class="btn btn-sm btn-success fancybox" rel="group2" data-fancybox-type="iframe"><span class="glyphicon glyphicon-user"></span> Add cartridge <span class="glyphicon glyphicon-plus"></span></a>
    </div>
</h1>
this is the cartridges page