<h1 class="page-header">Categories
    <div class="pull-right">
        <a href="#" id="refreshCategories" class="btn btn-lg"><span class="glyphicon glyphicon-refresh"></span></a>
        <a href="view.php?adminPage=addCategory&desk={DESK}" id="addCategoryBtn" class="btn btn-sm btn-success fancybox" rel="group2" data-fancybox-type="iframe"><span class="glyphicon glyphicon-user"></span> Add category <span class="glyphicon glyphicon-plus"></span></a>
    </div>
</h1>
<form method="post">

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Log/Close</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {CATEGORYROWS}
        </tbody>
    </table>

</form>