<h1 class="page-header">Printers
    <div class="pull-right">
        <a href="#" id="refreshPrinter" class="btn btn-lg"><span class="glyphicon glyphicon-refresh"></span></a>
        <a href="view.php?adminPage=addPrinter&desk={DESK}" id="addPrinterBtn" class="btn btn-sm btn-success fancybox" rel="group2" data-fancybox-type="iframe"><span class="glyphicon glyphicon-user"></span> Add Printer <span class="glyphicon glyphicon-plus"></span></a>
    </div>
</h1>
<p>
    This is a base printer template which cartridge types can be associated with
    via the Cartridges page. For any other part of the printer setup, the required
    printer type must exist here first.
</p>
<form method="post">

    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {PRINTERROWS}
        </tbody>
    </table>

</form>