
<table>

    <tr>
        <th><input title="checkAll" id="checkAll" type="checkbox"></th>
        <th>Ticket ID</th>
        <th>Logged by</th>
        <th>Assigned to</th>
        <th>Date/Time</th>
        <th>Location</th>
        <th>Category</th>
        <th>Department</th>
        <th>Action</th>
    </tr>

    <tr>
        <td><input title="checkAll" type="checkbox"></td>
        <td>1234</td>
        <td>JWN1</td>
        <td>JWN1</td>
        <td>01:01 21/10/2016</td>
        <td>Server Room</td>
        <td>Network Fault</td>
        <td>IT</td>
        <td>
            <input title="checkAll" type="button" value="Close Ticket">
            <select name="reason[]" id="x">
            <option value="">Reason for closure</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><input title="checkAll" type="checkbox"></td>
        <td>1234</td>
        <td>JWN1</td>
        <td>JWN1</td>
        <td>01:01 21/10/2016</td>
        <td>Server Room</td>
        <td>Network Fault</td>
        <td>IT</td>
        <td>
            <input title="checkAll" type="button" value="Close Ticket">
            <select title="reason" name="reason[]" id="y">
                <option value="">Reason for closure</option>
            </select>
        </td>
    </tr>
    <tr>

        <td colspan="9">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquid scire se gaudeant? Bonum incolumis acies: misera caecitas. Quamquam id quidem licebit iis existimare, qui legerint. Duo Reges: constructio interrete. Occultum facinus esse potuerit, gaudebit; Quae duo sunt, unum facit. Igitur ne dolorem quidem. Itaque hic ipse iam pridem est reiectus; </p>
            <p>Tamen a proposito, inquam, aberramus. Philosophi autem in suis lectulis plerumque moriuntur. Quantum Aristoxeni ingenium consumptum videmus in musicis? An vero, inquit, quisquam potest probare, quod perceptfum, quod. Illud dico, ea, quae dicat, praeclare inter se cohaerere. Homines optimi non intellegunt totam rationem everti, si ita res se habeat. Quid censes in Latino fore? At cum de plurimis eadem dicit, tum certe de maximis. Portenta haec esse dicit, neque ea ratione ullo modo posse vivi; De ingenio eius in his disputationibus, non de moribus quaeritur. Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria. Hanc ergo intuens debet institutum illud quasi signum absolvere. </p>
            <p>Haec quo modo conveniant, non sane intellego. Quae qui non vident, nihil umquam magnum ac cognitione dignum amaverunt. Eiuro, inquit adridens, iniquum, hac quidem de re; Ita fit cum gravior, tum etiam splendidior oratio. Conferam tecum, quam cuique verso rem subicias; Cave putes quicquam esse verius. Quid autem habent admirationis, cum prope accesseris? Summus dolor plures dies manere non potest? </p>
            <p>Quod ea non occurrentia fingunt, vincunt Aristonem; An haec ab eo non dicuntur? Non quam nostram quidem, inquit Pomponius iocans; In qua si nihil est praeter rationem, sit in una virtute finis bonorum; Quae cum essent dicta, discessimus. Si enim ad populum me vocas, eum. Quid ergo aliud intellegetur nisi uti ne quae pars naturae neglegatur? Qua tu etiam inprudens utebare non numquam. </p>
            <p>Immo alio genere; Quid vero? Tu enim ista lenius, hic Stoicorum more nos vexat. Quippe: habes enim a rhetoribus; Conferam tecum, quam cuique verso rem subicias; Quid turpius quam sapientis vitam ex insipientium sermone pendere? Ait enim se, si uratur, Quam hoc suave! dicturum. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? </p>

        </td>

    </tr>
    <tr>
        <td><input title="check" type="checkbox"></td>
        <td class="display">{LOGID}</td>
        <td>{LOGGEDBY}</td>
        <td>{ASSIGNEDTO}</td>
        <td>{DATETIMELOGGED}</td>
        <td>{LOCATION}</td>
        <td>{CATEGORY}</td>
        <td>{SERVICEDESK}</td>
        <td>
            <input type="button" value="Close Ticket">
            <select title="reason" name="reason[]" id="y">
                <option value="">Reason for closure</option>
            </select>
        </td>
    </tr>

</table>
