<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="templates/css.css">
    <link rel="stylesheet" href="templates/scripts/lightbox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="templates/scripts/scripts.js"></script>
    <script type="text/javascript" src="templates/scripts/lightbox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="templates/scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>startMCE();</script>

</head>
<body>

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();

        loadPage("view.php?view=open");
    });

</script>

<div class="menu">
    <div class="menuItem"><a href="templates/log.html" rel="group" class="fancybox" data-fancybox-type="iframe">Log Call</a></div>
    <div class="menuItem"><a href="#" id="myCalls">My Calls</a></div>
    <div class="menuItem"><a href="#" id="openCalls">Open Calls</a></div>
    <div class="menuItem"><a href="#" id="closedCalls">Closed Calls</a></div>
    <div class="menuItem"><a href="#" id="administerCalls">Administer</a></div>
</div>


<div class="logDisplay">&nbsp;</div>

</body>
</html>