<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="templates/css.css">
    <link rel="stylesheet" href="templates/scripts/lightbox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="templates/bootstrap/css/bootstrap.min.css">
    <link  rel="stylesheet" href="templates/bootstrap/css/dashboard.css">

    <script type="text/javascript" src="templates/scripts/lightbox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="templates/scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="templates/bootstrap/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="templates/charts/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="templates/scripts/startScript.js"></script>
    <script type="text/javascript" src="templates/scripts/scripts.js"></script>
    <script>startMCE();</script>

</head>
<body>
<nav class="navbar navbar-default" style="padding: 5px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Support Tickets</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="menuItems"><a href="view.php?view=logTicket&desk={DESK}" id=logTicket rel="group" class="fancybox" data-fancybox-type="iframe">Log Call</a></li>
                <li class="menuItems"><a href="#" id="myCalls">My Calls</a></li>
                <li class="menuItems"><a href="#" id="openCalls">Open Calls</a></li>
                <li class="menuItems"><a href="#" id="closedCalls">Closed Calls</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="menuItems"><a href="#" id="administerCalls">Administer</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<!--
<div class="menu">
    <div class="menuItem"><a href="view.php?view=logTicket&desk=1" id=logTicket rel="group" class="fancybox" data-fancybox-type="iframe">Log Call</a></div>
    <div class="menuItem"><a href="#" id="myCalls">My Calls</a></div>
    <div class="menuItem"><a href="#" id="openCalls">Open Calls</a></div>
    <div class="menuItem"><a href="#" id="closedCalls">Closed Calls</a></div>
    <div class="menuItem"><a href="#" id="administerCalls">Administer</a></div>
</div>
-->
<div class="logDisplay">&nbsp;</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();

        loadPage("view.php?view=open&desk={DESK}", ".logDisplay");
    });

</script>
<!--<script type="text/javascript" src="templates/scripts/scripts.js"></script>-->
</body>
</html>