<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<img src="http://ICTOFF-05/Ticket/templates/images/itservices.png" alt="">
<hr>
<p style="padding: 18px; font-family: Arial;">
Call ID #{ID} was resolved by <em>{RESOLVEDBY}</em> at <em>{RESOLVEDDATETIME}</em><br><br>
<strong>Resolution: </strong>{RESOLUTION}<br>
    {WHY}
    <br>
</p>
<p style="padding: 18px; font-family: Arial;">
    Logged by: {LOGGEDBY} at {LOGGEDDATETIME}
</p>
<p style="padding: 18px; margin-left: 20px; font-family: Arial;">
    {CONTENT}
</p>
<p style="color: #948A54; padding: 18px; font-family: Arial;">
    <font color="#002060"><strong>IT Services</strong></font><br>
    IT Services | <a href="mail:itservices@mountbatten.hants.sch.uk">itservices@mountbatten.hants.sch.uk</a><br>
    Direct Dial: 01794 510 258 | Internal: 158 <br>
    The Mountbatten School | <a href="http://mountbatten.hants.sch.uk">www.mountbatten.hants.sch.uk</a> | Twitter: <a
        href="http://www.twitter.com/MountbattenSch">@MountbattenSch</a>
</p>

</body>
</html>